<%= month_calendar(events: @leave_periods) do |date, leave_periods| %>
  <%= date.day %>
  <% leave_periods.each do |leave_period| %>
    <div>
      <%= leave_period.user.email.split("@").first.capitalize %>
    </div>
  <% end %>
<% end %>

<%= link_to 'My Calendar', my_calendar_path, class: "govuk-button govuk-button--secondary", role: "button", draggable: "false" %>
<%= link_to 'Team Calendar', team_calendar_path, class: "govuk-button govuk-button--secondary", role: "button", draggable: "false" %>
