<div id="<%= dom_id leave_period %>">
  <p>
    <strong>User:</strong>
    <%= leave_period.user %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= leave_period.name %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= leave_period.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= leave_period.end_time %>
  </p>

</div>
