<!DOCTYPE html>
<html>
  <head>
    <title>Annual Leave</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag(source = "favicon.ico") %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="govuk-template__body app-body-class">
    <script type="module">
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", "type": "module" %>

    <%= render partial: 'layouts/header' %>
    <%= render partial: 'layouts/phase' %>
  </body>

  <footer class="sticky-footer">
    <%= render partial: 'layouts/footer' %>
  </footer>
</html>

