<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <title><%%= [yield(:page_title).presence, t('service.name')].compact.join(' - ') %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="govuk-template__body">
    <script>
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>

    <%= govuk_skip_link %>

    <%= govuk_header(service_name: "GOV.UK Rails Boilerplate") do |header| %>
      <%= header.with_navigation_item(text: "Navigation item 1", href: "#", active: true) %>
      <%= header.with_navigation_item(text: "Navigation item 2", href: "#") %>
      <%= header.with_navigation_item(text: "Navigation item 3", href: "#") %>
    <% end %>

    <div class="govuk-width-container">
      <main class="govuk-main-wrapper" id="main-content" role="main">
        <%= yield %>
      </main>
    </div>

    <%= govuk_footer %>
  </body>
</html>
